/*CLIENTS*/
.clients {
    padding: 50px 0 80px;
    color: #fff;

    background-color: black;
    position: relative;
    text-align: center;
    overflow: hidden;
}
#parallaxClientsBg{
    background: url(/images/parallaxClients.jpg);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 250%;
    top: 0;
    opacity: 0.7;
}

.client h2 {
    color: #5e5e5e;
}

.clients p {
    padding-bottom: 40px;
}

.clients img {
    width: 200px;
    opacity: 0.6;
    cursor: pointer;
    margin: 40px 0;
}


.clients li:hover img {
    opacity: 1;
}
