/*CLIENTS*/
.clients {
    color: white;
    padding: 50px 0 80px;
    text-align: center;
    background-color: black;
    background-image: url(/images/skills.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.client h2 {
}

.clients p {
    padding-bottom: 40px;
}

.clients img {
    width: 200px;
    opacity: 0.6;
    cursor: pointer;
    margin: 40px 0;
}

.clients li:hover img {
    opacity: 1;
}
