* {
  padding: 0;
  margin: 0;/* This is used to reset any browser-default margins */
}

body {
  margin:0;     /* This is used to reset any browser-default margins */
  height:100vh; /* This is needed to overcome a Chrome bug. */
  width:100vw;  /* As above. */
  overflow-x: hidden;
  background-color: #383838;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

li {
  list-style: none;
  display: inline-block
}

a {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

p {
  font-size: 15px;
  line-height: 21px;
}

.btn {
  font-weight: 500 !important;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #ededed !important;
  color: #3c3c3c !important;
  border: 1px solid #fff !important;
}




/*FontIcon*/
.my-skills-icon {
  font-size: 10em;
}
@media(max-width:768px) {
  .my-skills-icon {
    font-size: 8em;
  }
}




