@mixin center-align($percentageX: 50%, $percentageY: 50%, $exact: false, $position: relative) {
    top: $percentageY;
    left: $percentageX;
    position: $position;
    overflow: hidden;

    width: 100 - $percentageX;
    @if($exact == false) {
        -webkit-transform: translate(-$percentageX, -$percentageY);
        -moz-transform: translate(-$percentageX, -$percentageY);
        -ms-transform: translate(-$percentageX, -$percentageY);
        -o-transform: translate(-$percentageX, -$percentageY);
        transform: translate(-$percentageX, -$percentageY);
    }
}

/*HEADER*/
$defaultTextColor: #fff;
$defaultHeaderWidth: 100vw;
$defaultHeaderHeight: 100vh;

#header {
    text-align: center;
    color: $defaultTextColor;
    width: $defaultHeaderWidth;
    height: $defaultHeaderHeight;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../public/images/headerBg.jpg);

    .header-content{
        @include center-align(50%, 30%);
    }

    .learn-more {
        bottom: 0;
        position: absolute;
        text-align: center;
        font-size: x-large;
        transition: all 0.5s ease;

        &:hover {
            color: #000;
            font-size: xx-large;
            cursor: pointer;
        }
    }
}

@media(max-width: 768px) {
    #header {
        padding: 30px;

        .learn-more {
            margin-top: 75px;
        }
    }
}