@mixin gradientBackground($direction: top, $rgbaColorFrom: rgba(0, 0, 0, 0), $rgbaColorTo: rgba(0, 0, 0, 1)) {
    background: -webkit-linear-gradient(to $direction, $rgbaColorFrom, $rgbaColorTo);
    background: -moz-linear-gradient(to $direction, $rgbaColorFrom, $rgbaColorTo);
    background: -ms-linear-gradient(to $direction, $rgbaColorFrom, $rgbaColorTo);
    background: -o-linear-gradient(to $direction, $rgbaColorFrom, $rgbaColorTo);
    background: linear-gradient(to $direction, $rgbaColorFrom, $rgbaColorTo);
}

/*NAVIGATION*/
#navigation {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    @include gradientBackground();
    text-transform: uppercase;
    border: none;

    #navHeaderCollapse {
        margin-top: 20px;

        .home-image {
            width: 13%;
            cursor: pointer;
        }

        ul a{
            color: #fff;
            opacity: 0.8;
            font-size: 17px;
            cursor: pointer;
            display: inline-block;
            &:hover {
                opacity: 1;
                background-color: #111111;
            }
        }
    }
}