/*NAVIGATION*/
#navigation {
    background-color: transparent;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
}

#navigation #home-image {
    width: 100%;
    cursor: pointer;
}

#navigation a{
    color: #fff;
    cursor: pointer;
    display: inline-block;
    opacity: 0.7;
}

#navigation a:hover {
    opacity: 1;
    background-color: #111111;

}