/*PRICING*/
.pricing {
    padding: 50px 0 80px;
}

.pricing h2,
.pricing p {
    text-align: center;
    color: #000;
}

.pricing .packages {
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}

.packages li {
    display: block;
    padding: 5px;
}

.packages h4,
.packages h1,
.packages b {

    color: #4c4c4c;
}

.packages p,
.packages li {
    color: #737373;
}


@media(max-width:768px) {
    .pricing {
        padding: 30px;
    }

    .packages {
        width: 80%;
        margin-left: 25px;
    }
}