/*SERVICES*/
.services {
    padding: 80px 0 80px;
    text-align: center;
}

.services h2,
.services h4 {
    color: dimgrey;
    margin: 20px 0 20px;
}

.services p {
    color: dimgrey;
    font-size: 14px;
    padding-bottom: 40px;
}


.services i {
    font-size: 5em;
    border-radius: 75%;
    color: yellow;
}

@media(max-width:768px) {
    .services {
        padding: 30px;
    }
}


